[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
	branch = 2023.08.x
[submodule "buildroot-external/board/weatherstation/rootfs_overlay/root/weatherstation"]
	path = buildroot-external/board/weatherstation/rootfs_overlay/root/weatherstation
	url = https://github.com/prdktntwcklr/weatherman.git
